aiohttp==3.9.3
aiohttp-cors==0.7.0
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
boto3==1.34.61
botocore==1.34.61
certifi==2024.2.2
charset-normalizer==3.3.2
click==7.1.2
colorclass==2.2.2
colorlog==6.8.2
contourpy==1.2.0
croniter==2.0.2
cycler==0.12.1
git+https://github.com/eCAPTION/ecaption_utils.git#egg=ecaption_utils
faust==1.10.4
fonttools==4.49.0
frozenlist==1.4.1
idna==3.6
importlib_resources==6.1.3
jmespath==1.0.1
kafka-python==1.4.7
kiwisolver==1.4.5
matplotlib==3.8.3
mode==4.3.2
multidict==6.0.5
munkres==1.1.4
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.4
opentracing==1.3.0
packaging==24.0
pandas==2.2.1
patsy==0.5.6
pillow==10.2.0
pip==24.0
pyparsing==3.1.2
python-dateutil==2.9.0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
robinhood-aiokafka==1.1.6
s3transfer==0.10.0
scipy==1.12.0
seaborn==0.13.2
setuptools==69.1.1
six==1.16.0
statsmodels==0.14.1
terminaltables==3.1.10
tornado==6.4
tzdata==2024.1
unicodedata2==15.1.0
urllib3==1.26.18
venusian==1.2.0
wheel==0.42.0
yarl==1.9.4
zipp==3.17.0
